/*--------------------------------------------------------------
# Reset CSS
--------------------------------------------------------------*/
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.restaurant__box .restaurant__title, .operation__box .operation__title, .discover__menu h2:nth-child(1) {
  font-weight: 900;
  font-size: 1.4rem;
}

.main__box, .discover__menu {
  display: flex;
  flex-flow: column wrap;
}

.operation__box ul {
  padding: 0;
  list-style: none;
}

body {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  font-family: "Roboto", sans-serif;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
} */
#header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}
#header img {
  width: 10rem;
}

/*--------------------------------------------------------------
# Banner localisation
--------------------------------------------------------------*/
.localisation {
  background-color: #EAEAEA;
  color: #353535;
  padding: 0.5rem;
  margin-top: 2px;
}
.localisation :nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1.5rem 0 0.5rem;
}

/*--------------------------------------------------------------
# Box call to action with button explorer
--------------------------------------------------------------*/
.discover__menu {
  background-color: #F6F6F6;
  text-align: -webkit-center;
  padding: 1rem 2rem 2.5rem 2rem;
}
.discover__menu h2:nth-child(1) {
  padding: 1.5rem 2rem 0.5em 2rem;
}
.discover__menu p:nth-child(2) {
  padding-bottom: 1.5rem;
  font-weight: lighter;
}
.discover__menu button {
  display: block;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.9rem 1.5rem;
  border-radius: 100px;
  color: white;
  border: none;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff79da",endColorstr="#9356dc",GradientType=1);
}

/*--------------------------------------------------------------
# New div
--------------------------------------------------------------*/
.main__box {
  padding: 1.5rem 1rem 3.5rem;
}

/*--------------------------------------------------------------
# Fonctionnement
--------------------------------------------------------------*/
.operation__box {
  background-color: white;
}
.operation__box .operation__title {
  padding: 1.5rem 1rem 1.5rem;
}
.operation__box ul {
  margin: 0 auto;
}
.operation__box li {
  counter-increment: li;
  background-color: #F6F6F6;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 1rem 3.5rem;
  font-weight: bold;
}
.operation__box li::before {
  content: counter(li);
  background-color: #9356DC;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.4rem;
  margin-right: 0.5rem;
  margin-left: -2.5rem;
  padding-left: 0.45rem;
  font-size: 0.8rem;
  z-index: 20;
}
.operation__box .fa-mobile-alt {
  color: #7E7E7E;
  display: inline-block;
  height: 1.3em;
  vertical-align: middle;
  width: 1em;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
}
.operation__box .fa-list {
  color: #7E7E7E;
  display: inline-block;
  height: 1.3em;
  vertical-align: middle;
  width: 1em;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
}
.operation__box .fa-store {
  color: #7E7E7E;
  display: inline-block;
  height: 1.3em;
  vertical-align: middle;
  width: 1em;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
}
.operation__box li:last-child {
  background: rgba(147, 86, 220, 0.1);
}
.operation__box li:last-child .fa-store {
  color: #9356DC;
}

/*--------------------------------------------------------------
# Restaurants
--------------------------------------------------------------*/
.restaurant__box {
  background-color: #F6F6F6;
}
.restaurant__box .restaurant__title {
  padding: 1.5rem 0 1rem;
}
.restaurant__box .restaurant__item {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.restaurant__box .restaurant__badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #0B8D6D;
  background-color: #99E2D0;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  padding: 0.35rem 0.8rem;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 2px;
}
.restaurant__box .restaurant__details {
  background-color: white;
  margin-top: -4px;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0 0 15px 15px;
}
.restaurant__box .restaurant__details__text {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  flex: 1;
}
.restaurant__box .restaurant__details__text h3 {
  font-weight: bold;
  font-size: 1.12rem;
  margin: 0 0 0.3rem;
}
.restaurant__box .restaurant__details__img {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container {
  width: auto;
  padding-left: 4.5vw;
  margin: 2vw;
}

/*# sourceMappingURL=style.css.map */
