// Les commentaires
// "/* */" Présent à la sortie du CSS, "//" Pas compile (pas présent dans le CSS de sortie)

/*--------------------------------------------------------------
# Reset CSS
--------------------------------------------------------------*/
@import "./lib/reset.scss";


//--------------------------------------------------------------
// # Font: Roboto for text, Shrikhand for title
//--------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand');


//--------------------------------------------------------------
// # Variables
//--------------------------------------------------------------
$text-font-family: 'Roboto', sans-serif;
$title-font-family: 'Shrikhand', sans-serif;

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$grey: #EAEAEA;

// Color variation according to model
$grey-light: #F6F6F6;
$black-light: #353535;
$grey-dark: #7E7E7E;
$green-light: #99E2D0;
$green-dark: #0B8D6D;

$shadow-body: 2px 4px 5px rgb(0 0 0 / 20%);

@mixin animation-check () {
}

// For like button
@mixin gradient-animation( $start, $end, $transTime, $content ) {
    background-size: 100%;
    font-weight: 300!important;
    background-image: linear-gradient($black-light, $black-light);
    position: relative;
    z-index: 100;
  
  &:after {
    font-weight: 900!important;
    background-image: linear-gradient($end, $start);
    content: $content;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity $transTime;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}


//--------------------------------------------------------------
// # Legacy property
//--------------------------------------------------------------
%bold_text {
    font-weight: 900;
    font-size: 1.4rem;
}

%flex-column-wrap {
    display: flex;
    flex-flow: column wrap;
}

%list {
  padding: 0;
  list-style: none;
}

body {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    font-family: $text-font-family;
}

a {
    text-decoration: none;
    color: inherit;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
} */

#header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: $shadow-body;

    img {
        width: 10rem;
    }
}

/*--------------------------------------------------------------
# Banner localisation
--------------------------------------------------------------*/
.localisation {
    background-color: $grey;
    color: $black-light;
    padding: 0.5rem;
    margin-top: 2px;

    :nth-child(1){
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0rem 1.5rem 0 0.5rem;
    }
}

/*--------------------------------------------------------------
# Box call to action with button explorer
--------------------------------------------------------------*/
.discover__menu {
    background-color: $grey-light;
    @extend %flex-column-wrap;
    text-align: -webkit-center;
    padding: 1rem 2rem 2.5rem 2rem;

    h2:nth-child(1){
        @extend %bold_text;
        padding: 1.5rem 2rem 0.5em 2rem;
    }

    p:nth-child(2){
        padding-bottom: 1.5rem;
        font-weight: lighter;
    }

    button {
        display: block;
        font-weight: bold;
        margin: 0 auto;
        padding: 0.9rem 1.5rem;
        border-radius: 100px;
        color: white;
        border: none;
        box-shadow: $shadow-body;
        background:  linear-gradient(0deg ,rgba(147,86,220,.9),rgba(255,121,218,.9));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff79da",endColorstr="#9356dc",GradientType=1);
    }
}

/*--------------------------------------------------------------
# New div
--------------------------------------------------------------*/
.main__box {
    @extend %flex-column-wrap;
    padding: 1.5rem 1rem 3.5rem;
}


/*--------------------------------------------------------------
# Like box with gradien animation ❤
--------------------------------------------------------------*/
.like__box {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
        font-size: 1.8rem;
    }

    &__gradient {
        @include gradient-animation(#9356dc, #ff79da, 1s, "\f004");
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}



/*--------------------------------------------------------------
# Fonctionnement
--------------------------------------------------------------*/
.operation__box {
    background-color:white;

    &__title {
        @extend %bold_text;
        padding: 1.5rem 1rem 1.5rem;
    }

    ul {
        @extend %list;
        margin: 0 auto;
    }

    li {
        counter-increment: li;
        background-color: $grey-light;
        box-shadow: $shadow-body;
        display: flex;
        align-items: center;
        border-radius: 15px;
        margin-bottom: 1rem;
        padding: 1rem 3.5rem;
        font-weight: bold;
    }

    li::before {
        content: counter(li);
        background-color: $primaire;
        color: white;
        display: flex;
        align-items: center;
        border-radius: 50%;
        height: 1.5rem;
        width: 1.4rem;
        margin-right: 0.5rem;
        margin-left: -2.5rem;
        padding-left: 0.45rem;
        font-size: 0.8rem;
        z-index: 20;
    }

    $operation_icons: mobile-alt, list, store;
    @each $operation_icon in $operation_icons {
        .fa-#{$operation_icon}{
            color: $grey-dark;
            display: inline-block;
            height: 1.3em;
            vertical-align: middle;
            width: 1em;
            margin-right: 1.5rem;
            margin-left: 0.5rem;
        }
    }

    li:last-child {
        background: rgba(147, 86, 220, 10%);
        .fa-store {
            color:$primaire;
        }
    }
}

/*--------------------------------------------------------------
# Restaurants
--------------------------------------------------------------*/
.restaurant {
    background-color: $grey-light;

    &__title {
        @extend %bold_text;
        padding: 1.5rem 0 1rem;
    }
    &__item {
        position: relative;
        text-align: center;
        margin-bottom: 2rem;
        box-shadow: $shadow-body;
        border-radius: 15px;
    }
    &__item img {
        height: 12rem;
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    &__badge {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: $green-dark;
        background-color: $green-light;
        box-shadow: $shadow-body;
        padding: 0.35rem 0.8rem;
        font-weight: bold;
        font-size: 0.9rem;
        border-radius: 2px;
    }
    &__details {
        background-color: white;
        margin-top: -4px;
        padding: 1rem;
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 0 0 15px 15px;

        &__text {
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            flex: 1;
        }

        &__text h3 {
            font-weight: bold;
            font-size: 1.12rem;
            margin: 0 0 0.3rem;
        }
    }
}

.footer {
    background-color: $black-light;
    color: white;
    padding-bottom: 1rem;

    &__content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-left: 0.5rem;
    }

    &__title {
        font-family: $title-font-family;
        font-size: 1.3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__list__link li {
        margin-bottom: 0.5rem;

        a {
            text-decoration: none;
            color: white;
        }
    }

    &__icon {
        width: 1.2rem;
        margin-right: 0.3rem;
    }
}




















/*--------------------------------------------------------------
# Page du menu du restaurant
--------------------------------------------------------------*/
.restaurant__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    padding-left: 0rem;
    box-shadow: 2px 4px 5px rgb(0 0 0 / 20%);

    a {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2rem;
        font-family: 'Shrikhand', sans-serif;
    }
}


.menu {
    background-color: $grey-light;
    margin-top: -3.5rem;
    position: relative;
    z-index: 10;
    border-radius: 2rem 2rem 0 0;
    padding: 2rem 1rem;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 1.5rem;
    
        h2 {
            font-family: $title-font-family;
            font-size: 2rem;
    
        }
    }
}

.submenu {
    &__title {
        font-family: $text-font-family;
        text-transform: uppercase;
        padding-bottom: 0.35rem;
        position: relative;
        
        &::after {
            content: "";
            height: 2px;
            width: 15%;
            background-color: $tertiaire;
            left: 0;
            bottom: 0;
            position: absolute;
        
        }
    }
}



.item__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    background-color: $grey-light;
    border-radius: 15px;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: $shadow-body;
    /*  @mixin animation-check(  ) {}; */


    h4 {
        font-weight: bold;
        font-size: 1.1rem;
        padding-bottom: 0.25rem;
    }

    &__text {
        display: flex;
        justify-content: space-between;
    }

    &__price {
        font-weight: bold;
    }

    &__check {
        position: absolute;
        background-color: $tertiaire;
        right: 0;
        top: 0;
        width: 4rem;
        height: -webkit-fill-available;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 15px 15px 0;
        margin-right: -5rem;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100px;
        background-color:white;
        transform: rotate(0);
        transition-duration: .5s;

        i {
            color: $tertiaire;
        }
    }
    
}
