//--------------------------------------------------------------
// # Variables
//--------------------------------------------------------------
$font-family__text: 'Roboto', sans-serif;
$font-family__title: 'Shrikhand', sans-serif;

$color__primaire: #9356DC;
$color__secondaire: #FF79DA;
$color__tertiaire: #99E2D0;
$color__grey: #EAEAEA;

// Color variation according to model
$color__grey-light: #F6F6F6;
$color__black-light: #353535;
$color__grey-dark: #7E7E7E;
$color__green-light: #99E2D0;
$color__green-dark: #0B8D6D;

$shadow-body: 4px 4px 10px rgb(0 0 0 / 20%);